.view-id-ting_projects {
  .view-header {
    display: none;
  }
  .view-filters {
    display: none;
  }
}

nav.links {
  display: none;
}

.page-node-134 {
  .social-links {
    display: none;
  }
}

fieldset#edit-advanced {
  display: none;
}