$col-4-narrow: 220px;
$col-4-normal: 300px;
$col-6-narrow: 340px;
$col-6-normal: 460px;

$widthNarrow: 740px;
$widthNormal: 960px;

$z-index-menu: 10;
$z-slide-control: 10;
$z-slide-text: 10;
$z-user-second: 15;
$z-section-footer: 20;

$logoAspect: 264 / 98;